<configuration>
  <system.webServer>
    <handlers>
      <!-- Configuração do iisnode para lidar com solicitações para o arquivo de entrada do Nest.js -->
      <add name="iisnode" path="main.ts" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Impede que o iisnode interfira com as solicitações de depuração do Node.js -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^main\.ts\/debug[\/]?" />
        </rule>

        <!-- Todas as outras solicitações são encaminhadas para o arquivo de entrada do Nest.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="main.ts"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Define os segmentos ocultos a serem removidos para filtragem de solicitações -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Garante que as respostas de erro não sejam alteradas -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
